.board {
  display: flex;
  user-select: none;
  flex-direction: column;
  height: 100%;

  .board-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(gray, 0.5);
    padding: 8px 15px;
    .board-name {
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
  }

  .board-wrapper {
    display: flex;
    height: 100%;
    overflow-x: overlay;

    .board-columns {
      display: flex;
      gap: 10px;
      padding: 16px;

      .board-column {
        display: flex;
        flex-direction: column;
        height: fit-content;
        min-width: 260px;
        padding: 0 5px 5px 5px;
        border-radius: 5px;

        .new-task-button {
          display: inline-flex;
          align-items: center;
          height: 32px;
          gap: 6px;
          padding-left: 6px;
          cursor: pointer;
          border-radius: 4px;
        }
        .new-task-button:hover {
          background: rgba(55, 53, 47, 0.08);
        }

        .column-head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 34px;
          margin-bottom: 3px;

          .column-title-left-content {
            display: flex;
            .column-title {
              font-weight: 500;
              .column-title-content {
                display: inline-flex;
                align-items: center;
                height: 20px;
                border-radius: 10px;
                padding-left: 7px;
                padding-right: 9px;
                .column-title-dot {
                  margin-right: 5px;
                  border-radius: 99px;
                  height: 8px;
                  width: 8px;
                  display: inline-flex;
                }
              }
            }
            .column-tasks-counter {
              display: flex;
              padding-top: 2px;
              padding-left: 8px;
              align-items: center;
            }
          }

          .column-title-hover-content {
            opacity: 0;
            transition: opacity 100ms ease-in-out 0s;

            .column-add-task-button {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 24px;
              width: 24px;
              border-radius: 4px;
              cursor: pointer;
            }
            .column-add-task-button:hover {
              background: rgba(55, 53, 47, 0.08);
            }
          }
        }

      }
      .board-column:hover {
        .column-head .column-title-hover-content {
          opacity: 1;
        }
      }

    }

  }

}
.tasks-container {

  .task {
    display: flex;
    min-height: 40px;
    margin-bottom: 5px;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.05) 0px 2px 4px;

    .tasks-content {
      display: flex;
      padding: 8px 10px 6px 6px;

      .tasks-content-icon {
        user-select: none;
        transition: background 20ms ease-in 0s;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;
        border-radius: 5px;
        flex-shrink: 0;
        margin-top: 1px;
        margin-left: 0px;
        margin-right: 2px;
        padding: 2px;
        float: left;
      }
      .tasks-content-text {
        max-width: 100%;
        width: auto;
        white-space: pre-wrap;
        word-break: break-word;
        caret-color: rgb(55, 53, 47);
        font-size: 14px;
        line-height: 1.5;
        min-height: 21px;
        font-weight: 500;
        flex-grow: 1;
        padding: 2px;
        pointer-events: none;
      }
    }
  }
  .task:hover {
    background-color: rgba(55, 53, 47, 0.04);
  }

}


// drag tasks
.cdk-drag-preview {
  display: flex;
  padding: 15px 12px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// Scrollbar
.board-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 9px;
  background-color: #EDECE9;
}
.board-wrapper::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}
