<div class="board">
  <div class="board-bar">
    <p class="board-name">{{ board.name }}</p>
  </div>
  <div class="board-wrapper">
    <div class="board-columns" cdkDropListGroup>
      <div class="board-column" *ngFor="let column of board.columns">
        
        <div class="column-head">
          <div class="column-title-left-content">
            <span class="column-title">
              <div class="column-title-content">
                  <div class="column-title-dot"></div>
                  <span class="column-title-text">{{ column.name }}</span>
              </div>
            </span>
            <div class="column-tasks-counter">
              {{ column.tasks.length }}
            </div>
          </div>
          <div class="column-title-right-content">
            <div class="column-title-hover-content">
              <div class="column-add-task-button">
                <i class="fa-solid fa-plus" style="color: #91918e;"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="tasks-container"
        cdkDropList
        [cdkDropListData]="column.tasks"
        (cdkDropListDropped)="drop($event)">
          <div class="task" *ngFor="let item of column.tasks" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>