<div class="board">

  <div class="board-bar">
    <p class="board-name">Kanban Board Test</p>
  </div>

  <div class="board-wrapper">

    <div class="board-columns">

      <div class="board-column" cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      (cdkDropListDropped)="drop($event)">

        <div class="column-title">
          IDEAS
        </div>

        <div class="tasks-container">
          @for (item of todo; track item) {
            <div class="task" cdkDrag>{{item}}</div>
          }
        </div>

      </div>

      <div class="board-column" cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      (cdkDropListDropped)="drop($event)">

        <div class="column-title">
          TODO
        </div>

        <div class="tasks-container">
          @for (item of done; track item) {
            <div class="task" cdkDrag>{{item}}</div>
          }
        </div>

      </div>

      <div class="board-column">

        <div class="column-title">
          ENDED
        </div>

        <div class="tasks-container">
          <div class="task">
            This is something that i want to do !
          </div>
        </div>

      </div>

    </div>

  </div>

</div>