.board {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-direction: column;
  height: 100%;
}
.board .board-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.5);
  padding: 8px 15px;
}
.board .board-bar .board-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.board .board-wrapper {
  display: flex;
  height: 100%;
  overflow-x: overlay;
}
.board .board-wrapper .board-columns {
  display: flex;
  gap: 16px;
  padding: 16px;
}
.board .board-wrapper .board-columns .board-column {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 260px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
.board .board-wrapper .board-columns .board-column .column-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-left-content {
  display: flex;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-left-content .column-title {
  font-weight: 500;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-left-content .column-title .column-title-content {
  display: inline-flex;
  align-items: center;
  height: 20px;
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 9px;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-left-content .column-title .column-title-content .column-title-dot {
  margin-right: 5px;
  border-radius: 99px;
  height: 8px;
  width: 8px;
  display: inline-flex;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-left-content .column-tasks-counter {
  display: flex;
  padding-top: 2px;
  padding-left: 8px;
  align-items: center;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-hover-content {
  opacity: 0;
  transition: opacity 100ms ease-in-out 0s;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-hover-content .column-add-task-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  cursor: pointer;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-hover-content .column-add-task-button:hover {
  background: rgba(55, 53, 47, 0.08);
}
.board .board-wrapper .board-columns .board-column:hover .column-head .column-title-hover-content {
  opacity: 1;
}

.tasks-container .task {
  display: flex;
  padding: 15px 12px;
  background: white;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05), 0 3px 14px 2px rgba(0, 0, 0, 0.05);
}
.tasks-container .task:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.cdk-drag-preview {
  display: flex;
  padding: 15px 12px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.board-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 9px;
  background-color: #EDECE9;
}

.board-wrapper::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}/*# sourceMappingURL=kanban.component.css.map */