.board {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-direction: column;
  height: 100%;
}
.board .board-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.5);
  padding: 8px 15px;
}
.board .board-bar .board-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.board .board-wrapper {
  display: flex;
  height: 100%;
  overflow-x: overlay;
}
.board .board-wrapper .board-columns {
  display: flex;
  gap: 10px;
  padding: 16px;
}
.board .board-wrapper .board-columns .board-column {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 270px;
  padding: 0 5px 5px 5px;
  border-radius: 5px;
}
.board .board-wrapper .board-columns .board-column .new-task-button {
  display: inline-flex;
  align-items: center;
  height: 32px;
  gap: 6px;
  padding-left: 6px;
  cursor: pointer;
  border-radius: 4px;
}
.board .board-wrapper .board-columns .board-column .new-task-button:hover {
  background: rgba(55, 53, 47, 0.08);
}
.board .board-wrapper .board-columns .board-column .column-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
  margin-bottom: 3px;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-left-content {
  display: flex;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-left-content .column-title {
  font-weight: 500;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-left-content .column-title .column-title-content {
  display: inline-flex;
  align-items: center;
  height: 20px;
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 9px;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-left-content .column-title .column-title-content .column-title-dot {
  margin-right: 5px;
  border-radius: 99px;
  height: 8px;
  width: 8px;
  display: inline-flex;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-left-content .column-tasks-counter {
  display: flex;
  padding-top: 2px;
  padding-left: 8px;
  align-items: center;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-hover-content {
  display: flex;
  opacity: 0;
  transition: opacity 100ms ease-in-out 0s;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-hover-content .column-add-task-button,
.board .board-wrapper .board-columns .board-column .column-head .column-title-hover-content .column-settings-task-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  cursor: pointer;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-hover-content .column-add-task-button i,
.board .board-wrapper .board-columns .board-column .column-head .column-title-hover-content .column-settings-task-button i {
  font-size: 21px !important;
}
.board .board-wrapper .board-columns .board-column .column-head .column-title-hover-content .column-add-task-button:hover,
.board .board-wrapper .board-columns .board-column .column-head .column-title-hover-content .column-settings-task-button:hover {
  background: rgba(55, 53, 47, 0.08);
}
.board .board-wrapper .board-columns .board-column:hover .column-head .column-title-hover-content {
  opacity: 1;
}

.tasks-container {
  min-height: 10px;
}
.tasks-container .task {
  display: flex;
  min-height: 40px;
  margin-bottom: 5px;
  background: white;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.05) 0px 2px 4px;
}
.tasks-container .task .tasks-content {
  display: flex;
  padding: 8px 10px 6px 6px;
}
.tasks-container .task .tasks-content .tasks-content-icon {
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  min-width: 24px;
  border-radius: 5px;
}
.tasks-container .task .tasks-content .tasks-content-icon:hover {
  background-color: rgba(55, 53, 47, 0.08);
}
.tasks-container .task .tasks-content .tasks-content-text {
  max-width: 100%;
  width: auto;
  word-break: break-word;
  font-size: 14px;
  line-height: 1.5;
  min-height: 21px;
  font-weight: 500;
  padding: 2px;
}
.tasks-container .task:hover {
  background-color: rgba(55, 53, 47, 0.04);
}

.cdk-drag-preview {
  display: flex;
  min-height: 40px;
  margin-bottom: 5px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-preview .tasks-content {
  display: flex;
  padding: 8px 10px 6px 6px;
}
.cdk-drag-preview .tasks-content .tasks-content-icon {
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 5px;
}
.cdk-drag-preview .tasks-content .tasks-content-text {
  max-width: 100%;
  width: auto;
  word-break: break-word;
  font-size: 14px;
  line-height: 1.5;
  min-height: 21px;
  font-weight: 500;
  padding: 2px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .task:hover {
  background-color: white !important;
}
.cdk-drop-list-dragging .column-head .column-title-hover-content {
  opacity: 0 !important;
}
.cdk-drop-list-dragging .new-task-button:hover {
  background: transparent !important;
}
.cdk-drop-list-dragging .cdk-drag {
  transform: translate3d(0, 0, 0) !important;
}

.dragging-placeholder {
  background-color: #9AC7F0;
  position: relative;
  z-index: 100;
  height: 4px;
  margin: -2px 0;
}

.board-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 9px;
  background-color: #EDECE9;
}

.board-wrapper::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}/*# sourceMappingURL=kanban.component.css.map */