<section class="todos-container">
    <!-- 
    
    <div class="container add-todo-box-container">
        <div class="add-todo-box">
            <form #form="ngForm" autocomplete="off" (ngSubmit)="onFormSubmit(form)">
                <h2 class="title is-5"> New Todo</h2>
        
                <div class="field is-grouped my-0">
                    <p class="control is-expanded">
                      <input ngModel #todoTextField="ngModel" required minlength="2" name="text" class="input" type="text" placeholder="Type todo text here...">
                    </p>
                    <p class="control">
                      <button type="submit" class="button alt-gradient-button">
                        <i class="material-icons">add</i>
                        Add
                      </button>
                    </p>
                  </div>
    
                  <div *ngIf="todoTextField.invalid && showValidationErrors">
                      <p class="help is-danger" *ngIf="todoTextField.errors?.['required']">Todo text is required</p>
                      <p class="help is-danger" *ngIf="todoTextField.errors?.['minlength']">Todo text must be at least 2 characters</p>
                  </div>
            </form>
        </div>
    </div>
    
    <section class="section">
        <div class="container">
            <div class="todos-list">
                
                <app-todo-item  
                    *ngFor="let todo of todos" 
                    [todo]="todo" 
                    (todoClicked)="toggleCompelted(todo)"
                    (editClicked)="editTodo(todo)"
                    (deleteClicked)="deleteTodo(todo)">
                </app-todo-item>
    
            </div>
        </div>
    </section> -->
          <div class="board-column" cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event)" *ngFor="let column of board.columns" [ngStyle]="{'background-color': 'var(--color-' + column.color + '-light)'}">
    
            <div class="column-head">
              <div class="column-title-left-content">
                <span class="column-title">
                  <div class="column-title-content" [ngStyle]="{'background-color': 'var(--color-' + column.color + '-tag)', 'color': 'var(--color-' + column.color + '-text)'}">
                      <div class="column-title-dot" [ngStyle]="{'background-color': 'var(--color-' + column.color + '-dark)'}"></div>
                      <span class="column-title-text" [ngStyle]="{'color': 'var(--color-' + column.color + '-text)'}">{{ column.name }}</span>
                  </div>
                </span>
                <div class="column-tasks-counter" [ngStyle]="{'color': 'var(--color-' + column.color + '-dark)'}">
                  {{ column.tasks.length }}
                </div>
              </div>
              <div class="column-title-right-content">
                <div class="column-title-hover-content">
                  <div class="column-settings-task-button">
                    <i class="material-icons" [ngStyle]="{'color': 'var(--color-' + column.color + '-dark)'}" >more_horiz</i>
                  </div>
                  <div class="column-add-task-button">
                    <i class="material-icons" [ngStyle]="{'color': 'var(--color-' + column.color + '-dark)'}" >add</i>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="tasks-container">
              <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                <div class="dragging-placeholder" *cdkDragPlaceholder></div>
                <div class="tasks-content">
                  <div class="tasks-content-icon">
                    <p>🦖</p>
                  </div>
                  <div class="tasks-content-text">
                    {{ item }}
                  </div>
    
                  <div class="tasks-content-buttons">
                    <div class="task-edit-button">
                      <i class="material-icons">edit</i>
                    </div>
                    <div class="task-settings-button">
                      <i class="material-icons">more_horiz</i>
                    </div>
                  </div>
    
                </div>
              </div>
            </div>
    
            <div class="new-task-button">
              <i class="material-icons" [ngStyle]="{'color': 'var(--color-' + column.color + '-dark)', 'font-size': '21px'}" >add</i>
              <p [ngStyle]="{'color': 'var(--color-' + column.color + '-dark)'}">Nouveau</p>
            </div>
          </div>
</section>

