<div class="sidebar">

    <div class="list-items">
        <a routerLink="/" routerLinkActive="selected" class="list-item">
            <i class="material-symbols-outlined">home</i>
            Home
        </a>
        <a routerLink="/kanban" routerLinkActive="selected" class="list-item">
            <i class="material-symbols-outlined">view_kanban</i>
            Projects
        </a>
        <a routerLink="" routerLinkActive="selected" class="list-item">
            <i class="material-symbols-outlined">explore</i>
            Explore
        </a>
        
    </div>

</div>
