
.sidebar{
    height: 100%;
    width: 250px;
    border-right: 1px solid #eee;
}

.list-items{
    display: flex;
    flex-direction: column;
    padding-top: 100px;

    .list-item {
        position: relative;
        display: flex;
        font-size: 18px;
        padding: 10px 20px;
        align-items: flex-end;
        cursor: pointer;
        color: rgb(65, 62, 62);
    }

    .list-item:hover{
        background-color: #eee;
    }

    .list-item::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 5px;
        background: linear-gradient(rgba(236, 72, 140,0.5), rgba(240, 54, 82,0.5));

        // opacity: 0;
        transform: scaleY(0);
        transition: transform 0.2s, opacity 0.2s;
    }
    .list-item:focus::before{
        opacity: 1;
        transform: scaleY(1) ;
    }

    i.material-symbols-outlined {
        margin-right: 20px;
        font-size: 24px;
    }
}