<div class="sidebar">
    <div class="logo-container">
        <button class="material-symbols-outlined logo" >bolt</button>
        <div class="logo-text">BOLT</div>
        <button class="material-icons btn-close">close</button>
    </div>

    <div class="list-items">
        <a routerLink="/" class="list-item">
            <i class="material-symbols-outlined">home</i>
            Home
        </a>
        <a routerLink="/kanban" class="list-item">
            <i class="material-symbols-outlined">view_kanban</i>
            Projects
        </a>
        <a routerLink="" class="list-item">
            <i class="material-symbols-outlined">explore</i>
            Explore
        </a>
        
    </div>

</div>
