@import '../node_modules/bulma/bulma.sass';
@import '../src/_main-styles.scss';

:root {
  // GRAY KANBAN COLOR
  --color-gray-light: rgb(249, 249, 248);
  --color-gray-tag: rgb(227, 226, 224);
  --color-gray-dark: rgb(145, 145, 142);
  --color-gray-text: rgb(50, 48, 44);

  // BROWN KANBAN COLOR
  --color-brown-light: rgba(244, 248, 243, 0.7);
  --color-brown-tag: rgb(219, 237, 219);
  --color-brown-dark: rgb(108, 155, 125);
  --color-brown-text: rgb(28, 56, 41);

  // ORANGE KANBAN COLOR
  --color-orange-light: rgba(244, 248, 243, 0.7);
  --color-orange-tag: rgb(219, 237, 219);
  --color-orange-dark: rgb(108, 155, 125);
  --color-orange-text: rgb(28, 56, 41);

  // YELLOW KANBAN COLOR
  --color-yellow-light: rgba(244, 248, 243, 0.7);
  --color-yellow-tag: rgb(219, 237, 219);
  --color-yellow-dark: rgb(108, 155, 125);
  --color-yellow-text: rgb(28, 56, 41);

  // GREEN KANBAN COLOR
  --color-green-light: rgba(244, 248, 243, 0.7);
  --color-green-tag: rgb(219, 237, 219);
  --color-green-dark: rgb(108, 155, 125);
  --color-green-text: rgb(28, 56, 41);

  // BLUE KANBAN COLOR
  --color-blue-light: rgba(244, 248, 243, 0.7);
  --color-blue-tag: rgb(219, 237, 219);
  --color-blue-dark: rgb(108, 155, 125);
  --color-blue-text: rgb(28, 56, 41);

  // PURPLE KANBAN COLOR
  --color-purple-light: rgba(244, 248, 243, 0.7);
  --color-purple-tag: rgb(219, 237, 219);
  --color-purple-dark: rgb(108, 155, 125);
  --color-purple-text: rgb(28, 56, 41);

  // PINK KANBAN COLOR
  --color-pink-light: rgba(244, 248, 243, 0.7);
  --color-pink-tag: rgb(219, 237, 219);
  --color-pink-dark: rgb(108, 155, 125);
  --color-pink-text: rgb(28, 56, 41);

  // RED KANBAN COLOR
  --color-red-light: rgba(244, 248, 243, 0.7);
  --color-red-tag: rgb(219, 237, 219);
  --color-red-dark: rgb(108, 155, 125);
  --color-red-text: rgb(28, 56, 41);

}
