@import '../node_modules/bulma/bulma.sass';
@import '../src/_main-styles.scss';

:root {
  --color-green-light: rgba(244, 248, 243, 0.7);
  --color-green-white: rgb(219, 237, 219);
  --color-green-dark: rgb(108, 155, 125);
  --color-green-text: rgb(28, 56, 41);
}
